<section id="image-carousel">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/img/IMG_9475.JPG" alt="First slide">
      <div class="carousel-caption ">
        <h1 class= red>“The coaches and athletes made me feel like I was part of the box by helping and cheering me on and that was the case for everyone” </h1>
          <p>- John Miller</p>
          <p></p>
          <p></p>
        </div>
    </div>
    <div class="carousel-item red">
      <img class="d-block w-100" src="/img/IMG_6023.JPG" alt="Second slide">
      <div class="carousel-caption red">
        <h1 class= red>“We would like to congratulate you on the important work you do with young people.”</h1>
        <p>- Theresa May</p>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/IMG_2533.JPG" alt="Third slide">
      <div class="carousel-caption red">
      <h1 class=red>"The coaches are alway pushing you to go further"</h1>
      <p>- Ian Gibson</p>
      <p></p>
      <p></p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</section>





























<!-- <div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div> -->
