<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-black relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-75 w4 flex-none white">
		<img src="/img/BoxUpCrime-Website-01.png" alt="Kaldi logo" class="br0 db mb0 w-60"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b ">

		<li><a href="/post" class="pa3 no-underline db">About Us</a></li>

		<li><a href="/products" class="pa3 no-underline db">Our Services</a></li>

		<li><a href="/values" class="pa3 no-underline db">Our Team</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
